<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sample.mapper.BoardMapper">
    <select id="list" resultType="java.util.LinkedHashMap"> select * from BT_BOARD order by DT_INSERT desc </select>
    <select id="detail" resultType="java.util.LinkedHashMap"> select * from BT_BOARD where NO_SEQ = #{NO_SEQ} </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="NO_SEQ"> insert into BT_BOARD (ID_USER, DS_TITLE, DS_CONTENT) values (#{ID_USER}, #{DS_TITLE}, #{DS_CONTENT}) </insert>
    <update id="update"> update BT_BOARD set ID_USER = #{ID_USER}, DS_TITLE = #{DS_TITLE}, DS_CONTENT = #{DS_CONTENT}, DT_UPDATE = getdate() where NO_SEQ = #{NO_SEQ} </update>
    <delete id="delete"> delete from BT_BOARD where NO_SEQ = #{NO_SEQ} </delete>
</mapper>